<!DOCTYPE html>
<html>
<head>
  <title>TreebookApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
				<div class="container">
				<a class="brand treebook-text" href="/statuses">Treebook</a>
				<ul class="nav">
  					<li class="active">
    					<%= link_to "All Statuses", statuses_path %>
  					</li>
				</div>
	</div>
	<div class= "container">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
	<%= yield %>
	</div>
</body>
</html>
